*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Rust
**/target/
**/*.rs.bk
library/src/main/rust/native-libs/**

# Benchmarking
**/benchmark/build/